.edit {
	border: none;
}
.edit_profil {
	border: none;
}

.edit_wish {
	margin-bottom: 174px;
}

.edit__form {
	border: none;
}

.edit__avatar {
	display: flex;
	align-items: center;
	border: none;
	margin-bottom: 113px;
}

.edit__avatar-image {
	max-width: 437px;
	width: 100%;
	border-radius: 50%;
	margin-right: 106px;
}

.edit__avatar-load {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.edit__label-avatar {
	display: flex;
	gap: 2px;
	align-items: center;
	font-size: 38px;
	margin-bottom: 12px;
	cursor: pointer;
}

.edit__input-file {
	display: none;
}

.edit__avatar-delete {
	display: flex;
	gap: 2px;
	align-items: center;
	font-size: 38px;
}

.edit__name {
	border: none;
	margin-bottom: 44px;
	display: flex;
	gap: 36px;
	align-items: center;
}

.edit__input {
	display: block;
	font-size: 48px;
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-radius: 15px;
	color: #282828;
	padding: 0 32px;
	border: none;
}

.edit__label-text {
	font-size: 50px;
	display: block;
	margin-bottom: 14px;
}

.edit__birthdate {
	border: none;
	margin-bottom: 44px;
	display: flex;
	gap: 12px;
}

.edit__label {
	max-width: 686px;
}

.edite__label_select {
	position: relative;
}

.edite__label_select::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 34px;
	height: 34px;
	background-image: url("../img/select-icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
}

.edite__label_select:focus-within::after {
	transform: translateY(-50%) rotate(180deg);
}

.edit__select {
	appearance: none;
	border-radius: 15px;
	cursor: pointer;
	font-weight: 400;
	font-size: 48px;
	color: #282828;
	background-color: #fff;
	padding: 22px 50px 22px 32px;
	outline: none;
}

.edit__description {
	border: none;
	margin-bottom: 68px;
}

.edit__discription-input {
	max-width: 1420px;
	width: 100%;
	min-height: 250px;
	font-size: 38px;
	padding: 35px 32px;
	resize: none;
	background-color: #fff;
	border: 3px solid #365aba;
	border-radius: 15px;
}

.edit__wish {
	border: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 44px 36px;
	margin-bottom: 44px;
}

.edite__label_price {
	flex: 0 1 50%;
}

.edit__wish-price {
	display: flex;
	gap: 36px;
	align-items: flex-end;
}

.edit__select_currency {
	width: 100%;
}

.edit__wish-photo {
	border: none;
	margin-bottom: 152px;
}

.edit__label-photo {
	display: inline-block;
	background-color: #ffffff;
	width: 285px;
	height: 285px;
	border-radius: 15px;
	position: relative;
}

.edit__wish-image {
	position: absolute;
	top: 26%;
	left: 27%;
}

.edit__wish-delete {
	display: block;
	position: absolute;
	top: 8px;
	right: 8px;
}

.edit__submit-btn {
	margin-right: 22px;
}

.edit__submit-btn:last-child {
	margin-right: 0;
}

@media (max-width: 1200px) {
	.edit__avatar {
		margin-bottom: 56px;
	}
	.edit__avatar-image {
		max-width: 466px;
		margin-right: 34px;
	}

	.edit__name {
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
		margin-bottom: 30px;
	}

	.edit__birthdate {
		margin-bottom: 40px;
	}

	.edit__description-input {
		min-height: 311px;
	}

	.edit__description {
		margin-bottom: 40px;
	}

	.edit__submit-btn {
		margin-right: 18px;
	}
	.button__edit__submint-btn {
		margin-left: 20px;
	}

	.edit_wish {
		padding-top: 100px;
	}

	.edit__wish {
		grid-template-columns: 1fr;
	}

	.edit__wish-photo {
		margin-bottom: 114px;
	}

	.edit__label {
		max-width: 694px;
	}
}

@media (max-width: 992px) {
	.edit {
		padding-bottom: 80px;
	}
	.edit__avatar {
		margin-bottom: 64px;
	}
	.edit__avatar-image {
		max-width: 340px;
		margin-right: 25px;
	}

	.edit__icon-avatar {
		flex: 1 0 30px;
	}

	.edit__label-avatar {
		font-size: 24px;
		gap: 5px;
	}

	.edit__avatar-delete {
		font-size: 24px;
		gap: 5px;
	}

	.edit__name {
		gap: 44px;
		margin-bottom: 44px;
	}

	.edit__birthdate {
		margin-bottom: 44px;
	}

	.edit__discription-input {
		min-height: 503px;
	}

	.edit__description {
		margin-bottom: 62px;
	}

	.edit__submit-btn {
		margin-right: 18px;
	}
	.button__edit__submint-btn {
		margin-left: 20px;
	}

	.edit_wish {
		padding-top: 100px;
	}

	.edit__wish-photo {
		margin-bottom: 62px;
	}

	.edite__label {
		max-width: 694px;
	}

	.edit__submit_wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 44px 18px;
	}
}

@media (max-width: 740px) {
	.edit {
		padding-top: 16px;
		padding-bottom: 46px;
	}
	.edit__avatar {
		flex-direction: column;
		align-items: center;
		margin-bottom: 32px;
	}
	.edit__avatar-image {
		max-width: 160px;
		margin-right: 0;
		margin-bottom: 16px;
	}

	.edit__icon-avatar {
		flex-basis: 16px;
	}

	.edit__label-avatar {
		font-size: 14px;
		gap: 6px;
		justify-content: center;
	}

	.edit__avatar-delete {
		font-size: 14px;
		gap: 6px;
		justify-content: center;
	}

	.edit__icon-avatar {
		width: 16px;
	}

	.edit__input {
		font-size: 20px;
		height: 47px;
		padding: 0 18px;
	}

	.edit__name {
		gap: 24px;
		margin-bottom: 24px;
	}

	.edit__label-text {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 12px;
	}

	.edit__birthdate {
		margin-bottom: 0;
	}

	.edit__discription-input {
		min-height: 288px;
	}

	.edit__description {
		margin-bottom: 32px;
	}

	.edit__submit-btn {
		margin-right: 18px;
	}
	.button__edit__submint-btn {
		margin-left: 20px;
	}

	.edit_wish {
		padding-top: 0;
	}

	.edit__select {
		border-radius: 8px;
		font-size: 20px;
		line-height: 23px;
		color: #282828;
		padding: 12px 27px 12px 18px;
		outline: none;
	}

	.edite__label_select::after {
		width: 18px;
		height: 18px;
	}

	.edit__wish {
		gap: 24px;
	}
	.edit__wish-photo {
		margin-bottom: 32px;
	}

	.edit__wish-price {
		gap: 14px;
	}

	.edit__label-photo {
		width: 100%;
	}

	.edit__select_currency {
		border-radius: 15px;
	}

	.edite__label {
		max-width: 694px;
	}

	.edit__submit_wrapper {
		gap: 24px;
	}
}
